.d-none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

.d-l {
  display: none;
}

@media (min-width: $containerWidth) {
  .d-l {
    display: block;
  }

  .d-s {
    display: none;
  }
}
