.active-collections {
  padding: 52px 0 30px 0;
  background: #a8573e;
  &__content {
    color: var(--white);
  }

  &__title {
    font-family: var(--font-accent);
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--white);
    margin-bottom: 26px;
  }

  &__list {
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
  }

  &__item {
    padding: 30px 22px 25px 22px;
    background: #fff;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__scene {
    width: 100%;
    aspect-ratio: 1 / 0.678;
    margin-bottom: 20px;
    border: 1px solid #c6c6c6;
    position: relative;

    &.loading {
      .image-zoom__modal__loader {
        display: flex;
      }
    }
    .image-zoom__modal__loader {
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
    }
    .image-zoom__modal__loader div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: image-zoom__modal__loader 1.2s cubic-bezier(0.5, 0, 0.5, 1)
        infinite;
      border-color: #fff transparent transparent transparent;
    }
    .image-zoom__modal__loader div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .image-zoom__modal__loader div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .image-zoom__modal__loader div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes image-zoom__modal__loader {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &__download-btn {
    position: absolute;
    top: 5px;
    right: 7px;
    padding: 5px;
  }

  &__desc {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__desc-label {
    order: 1;
    color: #bebebe;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
  }

  &__desc-title {
    order: 2;
    color: #20261f;
    font-family: var(--font-accent);
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  &__dates {
    order: 3;
    color: #585858;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__desc-text {
    order: 5;
    color: #616161;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.585%; /* 14.222px */
    margin-bottom: 28px;
  }

  &__controls {
    order: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  .start &__controls {
    justify-content: start;
  }
  &__control {
    --size: 35px;
    --padding: 2px;
    --inner-size: calc(100% - var(--padding));
    width: var(--size);
    height: var(--size);
    padding: var(--padding);
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:nth-child(1) {
      .active-collections__control-inner {
        background-color: #1c2627;
      }
    }
    &:nth-child(2) {
      .active-collections__control-inner {
        background-color: #383330;
      }
    }
    &:nth-child(3) {
      .active-collections__control-inner {
        background-color: #565038;
      }
    }
    &:nth-child(4) {
      .active-collections__control-inner {
        background-color: #535562;
      }
    }
    &:nth-child(5) {
      .active-collections__control-inner {
        background-color: #884f1a;
      }
    }
    &:nth-child(6) {
      .active-collections__control-inner {
        background-color: #3e576d;
      }
    }
    &:nth-child(7) {
      .active-collections__control-inner {
        background-color: #6e8289;
      }
    }
    &:nth-child(8) {
      .active-collections__control-inner {
        background-color: #d16932;
      }
    }
    &:nth-child(9) {
      .active-collections__control-inner {
        background-color: #945953;
      }
    }
    &:nth-child(10) {
      .active-collections__control-inner {
        background-color: #a0857a;
      }
    }
    &:nth-child(11) {
      .active-collections__control-inner {
        background-color: #858180;
      }
    }
    &:nth-child(12) {
      .active-collections__control-inner {
        background-color: #d4b4a9;
      }
    }
    &:nth-child(13) {
      .active-collections__control-inner {
        background-color: #d3c1b7;
      }
    }
    &:nth-child(14) {
      .active-collections__control-inner {
        background-color: #a39592;
      }
    }
    &:nth-child(15) {
      .active-collections__control-inner {
        background-color: #cbc2bd;
      }
    }
    &:nth-child(16) {
      .active-collections__control-inner {
        background-color: #e8ded5;
      }
    }
    &.active {
      .active-collections__control-inner {
        border: 2px solid var(--white);
        outline: 2px solid #d5d5d5;
      }
    }
  }

  .start &__control {
    &:nth-child(1) {
      .active-collections__control-inner {
        background-color: #a8573e;
      }
    }
    &:nth-child(2) {
      .active-collections__control-inner {
        background-color: #9d8067;
      }
    }
    &:nth-child(3) {
      .active-collections__control-inner {
        background-color: #d9d9d9;
      }
    }
    &:nth-child(4) {
      .active-collections__control-inner {
        background-color: #484e3e;
      }
    }
  }

  &__control-inner {
    border-radius: 50%;
    width: var(--inner-size);
    height: var(--inner-size);
    border: 2px solid var(--white);
    outline: 2px solid var(--white);
  }

  &__item-button {
    order: 6;
    a {
      color: #fff;
      display: block;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.52px;
      background: #484e3e;
      transition: 0.3s all ease;
      text-align: center;
      padding: 20px 0;

      @media (any-hover: hover) {
        &:hover {
          background: #9d8067;
        }
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 5px 15px;
    &,
    &:hover {
      text-decoration: underline;
    }
  }
  @media (min-width: $desktopSizeM) {
    & {
      padding: 72px 0 57px 0;
    }

    &__content {
    }

    &__title {
      font-size: 44px;
      padding-bottom: 10px;
      margin-bottom: 52px;
    }

    &__list {
      gap: 60px;
      //  margin-bottom: 57px;
    }

    &__item {
      padding: 40px;
      flex-basis: 48%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__scene {
      margin-bottom: 0px;
      flex-basis: 48%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__download-btn {
      top: 17px;
      right: 17px;
    }
    &__desc {
      flex-basis: 49%;
    }

    &__desc-label {
      font-size: 18px;
    }

    &__desc-title {
      font-size: 38px;
    }

    &__dates {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__desc-text {
      order: 4;
      font-size: 15px;
      margin-bottom: 0;
    }

    &__controls {
      order: 5;
      position: static;
      width: auto;
      height: unset;
      max-width: 100%;
      justify-content: start;
      margin: auto 0;
      gap: 5px;
    }

    &__control {
      --size: 23px;
      flex-basis: unset;
    }

    &__control-inner {
      flex-direction: row;
    }

    &__item-button {
      a {
        font-size: 16px;
        letter-spacing: 4.68px;
      }
    }
    &__link {
      font-size: 28px;
    }
  }

  @media (min-width: $desktopSizeL) {
    &__item {
      padding: 50px;
      flex-basis: 48%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__control {
      --size: 30px;
    }
    &__desc-title {
      font-size: 40px;
    }
    &__dates {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__desc-text {
      font-size: 20px;
    }
    &__item-button {
      a {
        font-size: 20px;
        letter-spacing: 4.68px;
      }
    }
  }

  @media (min-width: $desktopSizeXL) {
    & {
      padding: 102px 0 57px 0;
    }
    &__desc-title {
      font-size: 48px;
    }
    &__control {
      --size: 45px;
    }
    &__dates {
      font-size: 28px;
    }
    &__desc-text {
      font-size: 26px;
    }
    &__item-button {
      a {
        font-size: 26px;
        letter-spacing: 4.68px;
      }
    }
    &__link {
      font-size: 32px;
    }
  }
}
