.startPhotos {
  &__content {
  }

  &__desc-wrapper {
    border-radius: 45px 0px 0px 0px;
    background: linear-gradient(131deg, #44493b 16.07%, #24271f 78.39%), #474d3e;
    padding: 79px 20px 69px 20px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }

  &__desc {
  }

  &__list {
    padding: 47px 20px 40px 20px;
    margin: 0 -20px;
    display: flex;
    flex-direction: column;
    gap: 37px;
    background: #cecbc2;
  }

  &__li {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 21px;
      border-bottom: 1px solid rgba(26, 27, 28, 0.7);
    }
  }

  &__li-title {
    margin-bottom: 18px;
    color: #1a1b1c;
    font-family: var(--font-accent);
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 28px */
    text-transform: uppercase;
  }
  &__li-photos {
    margin-bottom: 9px;
  }

  @media (max-width: $desktopSizeM) {
    &__li-photo-left {
      img {
        width: 70%;
        display: block;
        margin: auto;
      }
    }

    &__li-photo-right {
      img {
        width: 100%;
        display: block;
        margin: auto;
      }
    }
  }

  &__li-price {
    color: #cccac1;
    font-family: var(--font-accent);
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 22px */
    background: rgba(26, 27, 28, 0.7);
    padding: 6px 20px;
  }

  @media (min-width: $desktopSizeM) {
    & {
      margin-top: 46px;
    }
    &__content {
    }

    &__desc-wrapper {
      border-radius: 65px 0px 0px 0px;
      background: linear-gradient(131deg, #44493b 16.07%, #24271f 78.39%),
        #474d3e;
      padding: 90px 0;

      .container {
        text-align: left;
        align-items: start;
        gap: 0;
      }
    }
    .inline-img-wrapper {
      display: inline-flex;
      align-items: end;
      img {
        display: block;
      }
    }
    &__desc {
      max-width: 1061px;
      font-size: 20px;
      img {
        display: block;
        width: 13px;
      }
    }

    &__list {
      padding: 80px 0 80px 0;
      background: transparent;
    }

    &__li {
      align-items: start;

      &:nth-child(1) {
        .startPhotos__li-photo-left {
          flex-basis: 43%;
        }

        .startPhotos__li-photo-right {
          flex-basis: 47%;
        }
      }
      &:nth-child(2) {
        .startPhotos__li-photo-left {
          flex-basis: 32%;
        }

        .startPhotos__li-photo-right {
          flex-basis: 52%;
        }
      }
      &:nth-child(3) {
        .startPhotos__li-photo-left {
          flex-basis: 31%;
        }

        .startPhotos__li-photo-right {
          flex-basis: 38%;
          margin-right: 100px;
        }
      }
      &:nth-child(4) {
        .startPhotos__li-photo-left {
          flex-basis: 26%;
        }

        .startPhotos__li-photo-right {
          margin-right: 100px;
          flex-basis: 40%;
        }
      }
      &:nth-child(5) {
        .startPhotos__li-photo-left {
          flex-basis: 29%;
        }

        .startPhotos__li-photo-right {
          margin-right: 100px;
          flex-basis: 38%;
        }
      }
    }
    &__li-photo-left {
      text-align: left;
    }
    &__li-photo-right {
      text-align: right;
    }
    &__li-title {
      font-size: 44px;
    }
    &__li-photos {
      width: 100%;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__li-price {
      font-size: 32px;
      padding: 12px 40px;
      align-self: end;
    }
  }

  @media (min-width: $desktopSizeL) {
    &__li-title {
      font-size: 48px;
    }
    &__desc {
      font-size: 22px;
    }
  }

  @media (min-width: $desktopSizeXL) {
    &__li-title {
      font-size: 52px;
    }
    &__desc-wrapper {
      padding: 120px 0;
      .container {
        font-size: 34px;
        text-align: left;
        align-items: start;
        gap: 0;
      }
    }
    &__desc {
      max-width: 1561px;
      font-size: 34px;
      img {
        width: 21px;
      }
    }
  }
}
